.main_header {
  position: relative;
  overflow: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  width: 100%;
  height: 60rem;
  z-index: 1;
}

.main_header iframe::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

.main_header iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10000;
  border-bottom: 1px ridge #424242;
}

.main_header .top_navbar {
  width: 70%;
  height: 6rem;
  margin: 0 auto;
}

@media (max-width: 777px) {
  .main_header .top_navbar {
    margin: 3px;
  }
}
