@import "../helpers/variables";
@import "../helpers/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: .5px solid grey;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--mainBg);
    color: var(--mainTxt);
    background-image: url(../../imgs/bg_texture.png);
}

.main_container {
    width: 100%; max-width: 1366px;
    margin: 0 auto; 
}


