@import "../helpers/variables";
@import "../helpers/mixins";

/* --------------------------------Menu Button-- */
.btn_menu {
    @include size (3.5rem, 3rem);
    @include flex (column nowrap, space-evenly , center);
    position: relative; 
    cursor: pointer;
    position: absolute;
    right: 3%;
    top: 3%;

    .bars {
        @include size(95%,calc(100%/8));
        transition: 50ms ease-in-out;

}
    .barss {
        @include size(95%,calc(100%/8));
        transition: 50ms ease-in-out;
    }
}

.btn_menu .bars:nth-child(1){
    background-color: white;
}
.btn_menu .bars:nth-child(2){
    background-color: #cecece;
}
.btn_menu .bars:nth-child(3){
    background-color: #cecece;
}
.btn_menu .bars:nth-child(4){
    background-color: white;
}

.btn_menu .barss:nth-child(1){
    background-color: white;
    transform: rotateZ(40deg);

    position: absolute;
    top: 50%;
}
.btn_menu .barss:nth-child(2){
    background-color: #cecece;
    transform: rotateZ(40deg);

    position: absolute;
}
.btn_menu .barss:nth-child(3){
    background-color: #cecece;
    transform: rotateZ(-40deg);

    position: absolute;
}
.btn_menu .barss:nth-child(4){
    background-color: white;
    transform: rotateZ(-40deg);
    position: absolute;
    top: 50%;
    z-index: -1;
}


/* --------------------------------Menu Button-- */