@import "../helpers/variables";
@import "../helpers/mixins";


.hero {
    color: $mainText;
    position: relative;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;    
    width: 100%;
    height: 70rem;
    

    iframe::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; height: 100%;
        border-bottom: 1px ridge #424242;
    }

    .main_title {
        // background-color: red;
        // height: 5rem;
        // position: relative;  // it brings it on front like z index
    }





}
