@import "../helpers/variables";
@import "../helpers/mixins";

.logo {
    width: 10rem;
    @include flex (row,center,center);
    margin-left: .5%;
    img {
        max-width: 100%;
        
    }
}

