@import "../helpers/variables";
@import "../helpers/mixins";

.logo {
    width: 12rem;
    position: absolute;
    top: 10rem;
    left: 1rem;
    @include round (100%);
    img {
        max-width: 100%;
        
    }
}

