@mixin size ($w: auto, $h: auto) {
	width: $w;
	height: $h;
}
@mixin size-max ($w: auto, $h: auto) {
	max-width: $w;
	max-height: $h;
}
@mixin size-min ($w: auto, $h: auto) {
	min-width: $w;
	min-height: $h;
}

@mixin box-shadow ($bs) {
    -webkit-box-shadow:$bs;
    -moz-box-shadow:$bs ;
    box-shadow:$bs;
}


@mixin color ($bg:auto, $t:auto) {
    background-color: $bg;
    color: $t;
}

@mixin round ($value) {
    border-radius: $value;
    -ms-border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
}

@mixin flex ($ff: row wrap,$js:flex-start,$ai:baseline) {
    display: flex;
    flex-flow: $ff;
    justify-content: $js;
    align-items: $ai;
}

@mixin max-width ($mw) {
    @media (max-width: $mw) {@content;}
}

@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }



@mixin transform ($value) {
    -webkit-transform: $value; /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: $value; /* IE 9 */
          transform: $value;
}




//Animation mixin setup
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}


//Usage
// Define animation name, and properties
// @include keyframes(fade-out) {
//     0% { opacity: 1; }
//     90% { opacity: 0; }
//   }
//   // Add animation to element
//   .element {
//     width: 100px;
//     height: 100px;
//     background: black;
//     @include animation('fade-out 5s 3');
//   }


//Cross browser opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
  }
//   .faded-text {
//     @include opacity(0.8);
//   }



