// Theme Color

$mainBg: #0B172A;
$mainBgDark: #0e1a29;
$mainBgLight: #0e1a29;
$mainBgHover: #243d5a;

$mainText: #adb7c3;
$mainTextDark: #fff;
$mainTextlight: #fff;
$mainTextHover: #e2f65e;

$darkPink: #cb2b44;


$social-icons-primary: #adb7c3;
$social-icons-secondary: rgba(0, 0, 0, 0.37);



$topNavbarBg: rgba(0, 0, 0, 0.37);